.hover_border:hover{
    -fx-border-color: #212121;
    -fx-border-width: 0px 0px 0px 8px;
    -fx-background-color:  #446cb3;
}

.hover_border2:hover{
    -fx-border-color: #34e7e4e0;
    -fx-border-width: 0px 0px 4px 0px;
    -fx-background-color: #336e7b;
}

.hover_border3:hover{
    -fx-background-color: #03A9F4;
}

.hover_border4:hover{
    -fx-background-color:  #303F9F;
}

